#Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#IDEA
*.iml
/.idea

#VS Code
/.vscode

#Build File
*.class
*.dll
*.so
out/
/build
!**/src/**/build
!**/test/**/build

#Gradle
.gradle

#Mac
.DS_Store

/captures

/Native/CubismNativeCore
